* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li, ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#header .center {
  width: 74%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb li {
  line-height: 100px;
  margin: 0 15px;
}
#header .center .gnb li a {
  color: #fff;
}
#header .center .loginBtn {
  background-color: #fff;
  width: 115px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
}
#header .center .loginBtn a {
  display: block;
  width: 100%;
  color: #000;
}
#header .center .loginBtn:hover {
  background-color: #333;
}
#header .center .loginBtn:hover a {
  color: #fff;
}

#container .home {
  width: 100%;
  height: 100vh;
  background-image: url(../img/profile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .home .bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
#container .home .bg .center {
  width: 600px;
  text-align: center;
  color: #fff;
}
#container .home .bg .center h2 {
  margin-top: 50px;
  margin-bottom: 35px;
  font-size: 50px;
}
#container .home .bg .center p {
  font-size: 20px;
  letter-spacing: 1px;
}
#container .home .bg .center h3 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
}
#container .home .bg .center .snsIcon {
  display: flex;
  justify-content: center;
}
#container .home .bg .center .snsIcon li {
  width: 35px;
  margin: 40px 5px 0;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}
#container .home .bg .center .snsIcon li a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
}
#container .home .bg .center .snsIcon li:hover {
  background-color: #fff;
}
#container .home .bg .center .snsIcon li:hover a {
  color: #000;
}
#container .about {
  display: flex;
  justify-content: center;
}
#container .about .about-left-context {
  width: 550px;
  height: 380px;
  margin: 240px 70px 240px 400px;
}
#container .about .about-left-context h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #040c2c;
}
#container .about .about-left-context h3 {
  font-size: 18px;
  margin-bottom: 40px;
  color: #888;
  letter-spacing: 3px;
  font-weight: 400;
}
#container .about .about-left-context p {
  font-size: 15px;
  line-height: 28px;
  color: #555;
  margin-bottom: 55px;
}
#container .about .about-left-context .aboutBtns {
  display: flex;
}
#container .about .about-left-context .aboutBtns li {
  margin-right: 20px;
  background-color: #333;
  height: 50px;
  line-height: 50px;
}
#container .about .about-left-context .aboutBtns li a {
  font-size: 18px;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
#container .about .about-left-context .aboutBtns li:nth-child(1) {
  width: 165px;
}
#container .about .about-left-context .aboutBtns li:nth-child(2) {
  width: 220px;
}
#container .service {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
#container .service .center {
  width: 57.3%;
  text-align: center;
}
#container .service .center h2 {
  margin-top: 120px;
  margin-bottom: 23px;
  font-size: 25px;
  color: #040c2c;
}
#container .service .center > p {
  color: #888;
  font-size: 13px;
  margin-bottom: 100px;
}
#container .service .center > p::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 1px;
  background-color: #888;
}
#container .service .center .service-boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
#container .service .center .service-boxs .service-box {
  cursor: pointer;
  width: 31%;
  transition: all 1s;
  margin-bottom: 35px;
  border: 1px solid #f3f1f1;
  background-color: #fff;
}
#container .service .center .service-boxs .service-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 30px;
}
#container .service .center .service-boxs .service-box p {
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 50px;
}
#container .service .center .service-boxs .service-box .service-icon {
  margin: 35px auto 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #888;
  border-radius: 50%;
}
#container .service .center .service-boxs .service-box .service-icon i {
  font-size: 28px;
  color: #888;
}
#container .service .center .service-boxs .service-box:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}