* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li, ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

#header.fixed {
  width: 100%;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 99;
}
#header.fixed .center .logo {
  width: 65px;
  height: 65px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}
#header.fixed .center .gnb li a {
  color: #040c2c;
  transition: all 0.5s;
}
#header.fixed .center .gnb > li:hover a {
  border-bottom: 2px solid #040c2c;
  box-sizing: border-box;
  padding: 10px 0;
}
#header.fixed .center .gnb > li.on a {
  border-bottom: 2px solid #040c2c;
  box-sizing: border-box;
  padding: 10px 0;
}
#header.fixed .center .loginBtn {
  background-color: #040c2c;
  width: 115px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
}
#header.fixed .center .loginBtn a {
  display: block;
  width: 100%;
  color: #fff;
}
#header.fixed .center .loginBtn:hover {
  background-color: #333;
}
#header.fixed .center .loginBtn:hover a {
  color: #fff;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#header .center {
  width: 74%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .center .logo {
  width: 65px;
  height: 65px;
  background-image: url(../img/logo2.png);
  background-repeat: no-repeat;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb li {
  line-height: 100px;
  margin: 0 15px;
}
#header .center .gnb li a {
  color: #fff;
}
#header .center .gnb li.on a {
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  padding: 10px 0;
}
#header .center .gnb li:hover a {
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  padding: 10px 0;
}
#header .center .loginBtn {
  background-color: #fff;
  width: 115px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
}
#header .center .loginBtn a {
  display: block;
  width: 100%;
  color: #000;
}
#header .center .loginBtn:hover {
  background-color: #333;
}
#header .center .loginBtn:hover a {
  color: #fff;
}

#container .home {
  width: 100%;
  height: 100vh;
  background-image: url(../img/profile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .home .bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
#container .home .bg .center {
  width: 600px;
  text-align: center;
  color: #fff;
}
#container .home .bg .center h2 {
  margin-top: 50px;
  margin-bottom: 35px;
  font-size: 50px;
}
#container .home .bg .center p {
  font-size: 20px;
  letter-spacing: 1px;
}
#container .home .bg .center h3 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
}
#container .home .bg .center .snsIcon {
  display: flex;
  justify-content: center;
}
#container .home .bg .center .snsIcon li {
  width: 35px;
  margin: 40px 5px 0;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.6);
}
#container .home .bg .center .snsIcon li a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
}
#container .home .bg .center .snsIcon li:hover {
  background-color: #fff;
}
#container .home .bg .center .snsIcon li:hover a {
  color: #000;
}
#container .about {
  display: flex;
  justify-content: center;
}
#container .about .about-left-context {
  width: 550px;
  height: 380px;
  margin: 240px 70px 240px 400px;
}
#container .about .about-left-context h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #040c2c;
}
#container .about .about-left-context h3 {
  font-size: 18px;
  margin-bottom: 40px;
  color: #888;
  letter-spacing: 3px;
  font-weight: 400;
}
#container .about .about-left-context p {
  font-size: 15px;
  line-height: 28px;
  color: #555;
  margin-bottom: 55px;
}
#container .about .about-left-context .aboutBtns {
  display: flex;
}
#container .about .about-left-context .aboutBtns li {
  margin-right: 20px;
  background-color: #333;
  height: 50px;
  line-height: 50px;
}
#container .about .about-left-context .aboutBtns li a {
  font-size: 18px;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
#container .about .about-left-context .aboutBtns li:nth-child(1) {
  width: 165px;
}
#container .about .about-left-context .aboutBtns li:nth-child(2) {
  width: 220px;
}
#container .service {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
#container .service .center {
  width: 57.3%;
  text-align: center;
}
#container .service .center h2 {
  margin-top: 120px;
  margin-bottom: 23px;
  font-size: 25px;
  color: #040c2c;
}
#container .service .center > p {
  color: #888;
  font-size: 13px;
  margin-bottom: 100px;
}
#container .service .center > p::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 1px;
  background-color: #888;
}
#container .service .center .service-boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
#container .service .center .service-boxs .service-box {
  cursor: pointer;
  width: 31%;
  margin-bottom: 35px;
  border: 1px solid #f3f1f1;
  background-color: #fff;
}
#container .service .center .service-boxs .service-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 30px;
}
#container .service .center .service-boxs .service-box p {
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 50px;
}
#container .service .center .service-boxs .service-box .service-icon {
  margin: 35px auto 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #888;
  border-radius: 50%;
}
#container .service .center .service-boxs .service-box .service-icon i {
  font-size: 28px;
  color: #888;
}
#container .service .center .service-boxs .service-box:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
#container .portfolio {
  display: flex;
  justify-content: center;
}
#container .portfolio .center {
  width: 57.3%;
  text-align: center;
}
#container .portfolio .center h2 {
  margin-top: 120px;
  margin-bottom: 23px;
  font-size: 25px;
  color: #040c2c;
}
#container .portfolio .center > p {
  color: #888;
  font-size: 13px;
  margin-bottom: 100px;
}
#container .portfolio .center > p::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 1px;
  background-color: #888;
}
#container .portfolio .center .boxBtn {
  display: flex;
  justify-content: center;
}
#container .portfolio .center .boxBtn li {
  margin: 0 10px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
#container .portfolio .center .boxBtn li a {
  display: block;
  padding: 10px;
  color: #000;
}
#container .portfolio .center .boxBtn li.on {
  background-color: #040c2c;
}
#container .portfolio .center .boxBtn li.on a {
  color: #fff;
}
#container .portfolio .center .boxBtn li:hover {
  background-color: #040c2c;
}
#container .portfolio .center .boxBtn li:hover a {
  color: #fff;
}
#container .portfolio .center .grid_wrap {
  width: 100%;
  margin: 55px auto 120px;
}
#container .portfolio .center .grid_wrap .grid {
  display: flex;
  flex-wrap: wrap;
}
#container .portfolio .center .grid_wrap .grid .all {
  position: relative;
  width: 23%;
  margin: 1%;
}
#container .portfolio .center .grid_wrap .grid .all img {
  width: 100%;
  height: 100%;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg {
  position: absolute;
  left: 2%;
  bottom: 0;
  width: 96%;
  height: 96%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 0.5s;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg a {
  display: block;
  width: 100%;
  height: 100%;
  color: #888;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg a > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg a > div h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg a > div ul {
  display: flex;
  justify-content: center;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg a > div ul li {
  margin: 5px;
  font-size: 25px;
  padding: 5px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #888;
  background-color: #888;
  color: #fff;
}
#container .portfolio .center .grid_wrap .grid .all .boxBg a > div ul li:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #888;
}
#container .portfolio .center .grid_wrap .grid .all:hover .boxBg {
  opacity: 1;
  bottom: 2%;
}
#container .portfolio .center .grid_wrap .grid .small {
  height: 300px;
}
#container .portfolio .center .grid_wrap .grid .big {
  width: 48%;
  height: 640px;
}
#container .award {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
#container .award .center {
  width: 51%;
}
#container .award .center .achieves {
  display: flex;
  justify-content: space-between;
}
#container .award .center .achieves .aw-box {
  width: 175px;
  text-align: center;
}
#container .award .center .achieves .aw-box .aw-icon {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 50px;
  color: #888;
}
#container .award .center .achieves .aw-box .aw-count {
  font-size: 35px;
  color: #040c2c;
  margin-bottom: 20px;
}
#container .award .center .achieves .aw-box .achieve {
  margin-bottom: 120px;
  color: #888;
}
#container .testimonial {
  height: 530px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#container .testimonial .center {
  width: 51%;
}
#container .testimonial .center .slideWrap {
  width: 100%;
  height: 400px;
}
#container .testimonial .center .slideWrap .swiper-slide {
  text-align: center;
  color: #fff;
}
#container .testimonial .center .slideWrap .swiper-slide img {
  margin-top: 120px;
  margin-bottom: 25px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
#container .testimonial .center .slideWrap .swiper-slide h5 {
  font-size: 18px;
  margin-bottom: 15px;
}
#container .testimonial .center .slideWrap .swiper-slide span {
  display: block;
  font-size: 12px;
  color: #888;
  margin-bottom: 30px;
}
#container .testimonial .center .slideWrap .swiper-slide p {
  font-size: 15px;
  line-height: 30px;
}
#container .testimonial .center .circleBtn {
  position: absolute;
  z-index: 5;
  bottom: 0;
  display: flex;
  justify-content: center;
}
#container .testimonial .center .circleBtn .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #888;
}
#container .trust {
  width: 57%;
  margin: 0 auto;
  text-align: center;
}
#container .trust h2 {
  margin-top: 120px;
  margin-bottom: 23px;
  font-size: 25px;
  color: #040c2c;
}
#container .trust > p {
  color: #888;
  font-size: 13px;
  margin-bottom: 100px;
}
#container .trust > p::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 1px;
  background-color: #888;
}
#container .trust .logoLayout {
  display: flex;
  justify-content: space-between;
}
#container .trust .logoLayout li {
  width: 100px;
  height: 100px;
  margin-bottom: 120px;
}
#container .trust .logoLayout li a img {
  width: 100%;
}
#container .blog {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
#container .blog .center {
  width: 57%;
  text-align: center;
}
#container .blog .center h2 {
  margin-top: 120px;
  margin-bottom: 23px;
  font-size: 25px;
  color: #040c2c;
}
#container .blog .center > p {
  color: #888;
  font-size: 13px;
  margin-bottom: 100px;
}
#container .blog .center > p::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 1px;
  background-color: #888;
}
#container .blog .center .blog-boxWrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
#container .blog .center .blog-boxWrap .blogBox {
  background-color: #fff;
  width: 350px;
  text-align: left;
}
#container .blog .center .blog-boxWrap .blogBox .blogImg {
  position: relative;
}
#container .blog .center .blog-boxWrap .blogBox .blogImg img {
  width: 100%;
}
#container .blog .center .blog-boxWrap .blogBox .blogImg .po-day {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  color: #555;
  font-weight: 700;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot {
  border: 1px solid #f1f1f1;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot .iconTag {
  margin: 30px 0 20px 30px;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot .iconTag i {
  margin-right: 5px;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot h4 {
  margin-bottom: 25px;
  margin-left: 30px;
  font-size: 20px;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot p {
  margin-left: 30px;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot .blogBtn {
  margin-left: 30px;
  margin-bottom: 30px;
}
#container .blog .center .blog-boxWrap .blogBox .blogbot .blogBtn a {
  color: #555;
  font-size: 20px;
}
#container #map {
  width: 100%;
  height: 500px;
}
#container .contact {
  display: flex;
  justify-content: center;
}
#container .contact .center {
  width: 57%;
  display: flex;
  justify-content: center;
}
#container .contact .center .left-info {
  margin-bottom: 300px;
}
#container .contact .center .left-info h2 {
  font-size: 26px;
  color: #040c2c;
  margin-top: 125px;
  margin-bottom: 45px;
}
#container .contact .center .left-info p {
  font-size: 15px;
  line-height: 30px;
  color: #888;
  text-indent: -10px;
}
#container .contact .center .left-info p i {
  margin-right: 8px;
}
#container .contact .center #right-form {
  margin-left: 120px;
}
#container .contact .center #right-form h2 {
  font-size: 26px;
  color: #040c2c;
  margin-top: 125px;
  margin-bottom: 45px;
  margin-left: 15px;
}
#container .contact .center #right-form input {
  width: 300px;
  height: 40px;
  margin: 15px;
  padding-left: 10px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ededed;
  color: #888;
}
#container .contact .center #right-form #message {
  width: 632px;
  height: 140px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  resize: none;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ededed;
  color: #888;
}
#container .contact .center #right-form #contactBtn {
  display: block;
  width: 200px;
  height: 52px;
  margin-left: 15px;
  background-color: #494949;
  color: #fff;
  border: none;
}

#footer {
  background-color: #040c2c;
  display: flex;
  justify-content: center;
}
#footer .center {
  width: 57%;
  text-align: center;
}
#footer .center .flogo {
  margin-top: 58px;
  margin-bottom: 30px;
}
#footer .center .fIcon {
  display: flex;
  justify-content: center;
}
#footer .center .fIcon li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 15px 20px;
  line-height: 35px;
}
#footer .center .fIcon li a {
  color: #fff;
}
#footer .center p {
  margin-bottom: 15px;
  color: #fff;
}
#footer .center p span {
  color: #555;
}
#footer .center .fcopy {
  margin-bottom: 60px;
  letter-spacing: 2px;
}